@use "../settings" as s;
@use "../tools" as t;
@use "../includes" as i;

.header {

    $this : &;

    @include t.element("container") {
        @extend %container;
    }

    @include t.element("layout") {
        display         : flex;
        flex-direction  : column;
        justify-content : center;
    }

    @include t.element("title") {
        @extend %first-last-child;
        @extend %section_btm_xs;

        font-size      : s.$font-size-h1;
        font-weight    : 300;
        margin-top     : -0.2em;
        letter-spacing : -0.025em;
    }
}
