// Navbar settings

$navbar-height-sm: 4rem;      // 64px
$navbar-height-lg: 5rem;      // 80px

$navbar-brand-width-sm: 2.5rem;
$navbar-brand-height-sm: 2.5rem;
$navbar-brand-width-lg: 3rem;
$navbar-brand-height-lg: 3rem;

$container-padding-sm: 2rem;
$container-padding-lg: 4rem;